.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.container {
  padding: 20px;
}

.profile-section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile-section h2 {
  margin-top: 0;
  color: #333;
}



.image {
  width: 150px;
  border-radius: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 3px solid green;

}
.detailProfile{
  display: flex;
  gap: 25px;
  color: rgb(3, 80, 42);
}
.detailProfileImg{
  width: 50px;
  border-radius: 50%;
  height: auto;
  border: 3px solid green;

}
.usernameDetails{
  font-size: 12px;
}

.card {
  text-align: center;
  border: 1px solid greenyellow;
  padding: 15px;
}

.button {
  width: 150px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: greenyellow;
  color: green;
}

.backBtn {
  width: 50px;
  background-color: #0070f3;
}

.name {
  color: green;
}

.username {
  margin-bottom: 0;
  color: yellowgreen;
  font-weight: bolder;
}

.todo-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  line-height: 20px
}

.containerDetails {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.profile {
  flex: 1;
  padding-right: 20px;
  margin-left: 20px;
}

.sidebar {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.sidebar h2 {
  text-align: center;
  color: #0070f3;
}


.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}

.profile-item:last-child {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .containerDetails {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    padding: 0;
    margin: 0;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .containerDetails {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    padding: 0;
    margin: 0;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .todo-item{
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    width: 100px;
  }

  .detailProfile {
    flex-direction: column;
    text-align: center;
  }

  .detailProfileImg {
    width: 75px;
    margin: 0 auto;
  }

  .button {
    width: 100px;
    padding: 8px 10px;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}